<%= content_for :page_css do %>
  <%= stylesheet_link_tag "default" %>
<% end %>

<title>Thanks</title>

<body>

  <div class="white">
    <h2>Thanks!</h2>
  </div>
		
  <div class="colored">
    <p>You are now finished with the experiment. Thank you again for your
    participation.</p>

    <p>We are examining how humans make decisions in the context of human-robot
    teams. The tasks that you just completed will help us to understand the balance
    between "exploration" (going in search of potentially larger rewards) and
    "exploitation" (taking advantage of known rewards) in a "real world" setting.
    Our ultimate goal is to create a model for human decision making in this setting.
    In the future, this will help with the design of compatible human-robot teams.</p>
  </div>

</body>
